.mainPageDiv{
display: flex;
    flex-direction: column;
}
body{
    font-family: sans-serif;
    margin-bottom: 0;
}

.firstImage{
    width: 100%;
    height: 100%;
}

.shopBySport{
    margin: 2% 45%;
    font-weight: bolder;
    font-family: sans-serif;
}

.sportDiv{
   
    /* border: 1px solid green; */
    column-gap: 2%;
    width: 100%;
}

.singleSport{
padding: 0 5%;
}

.newArrival{
    align-self: center
}
.sportImage{
    height: 100%;
    width: 100%;
}
.firstImageDiv{
    /* border: 1px solid green; */
    width: 100%;
    height: 220px;
}
.nikeMember{

}

.nikeMemberDiv{
    
}