.allItemsDiv{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    grid-row-gap: 3%;
    margin: 0 3%;
}
.itemsDiv{
    width: 100%;
    /* border: 1px solid black; */
    height: 100%;
}
.imgDiv{
    width: 100%;
    /* border: 1px solid green; */
    height: 70%;
}
.allImg{
    width: 100%;
    height: 100%;
}
.pLength{
    margin: 2% 3%
}
.noFavItemP{
    margin: 3%;
    font-size: x-large;
}
@media screen and (max-width: 853px) {
    .allItemsDiv {
        grid-row-gap: 5%;
        grid-template-columns: 50% 50%;
    }
   
}